* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #12B090;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.container {
  width: 60px;
  height: 25px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  border: 1px solid white;
  background-color: #12B090;
  box-shadow: 0 0 10px #12B090;
}
.container .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  transition: all 0.5s;
}
.container .text {
  position: absolute;
  right: 10px;
  line-height: 25px;
  color: white;
  transition: all 0.5s;
}
.text-on {
  position: absolute;
  right: 10px;
  line-height: 25px;
  color: white;
  transition: all 0.5s;
  right: 30px !important;
  color: #888 !important;
}
.circle-on {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  transition: all 0.5s;
  left: 40px !important;
  background-color: #888 !important;
  box-shadow: 0 0 10px #888 !important;
}
